APP_ENV=development
APP_TIMEZONE=Africa/Dar_es_Salaam

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=faraja
DB_USER=root
DB_PASS=

NHIF_USERNAME=
NHIF_PASSWORD=
NHIF_FACILITY_CODE=

NHIF_SERVICE_TOKEN_URL=https://verification.nhif.or.tz/nhifservice/Token
NHIF_SERVICE_BASE_URL=https://verification.nhif.or.tz/nhifservice/breeze/verification/
NHIF_CLAIMS_TOKEN_URL=https://verification.nhif.or.tz/claimsserver/Token
NHIF_CLAIMS_BASE_URL=https://verification.nhif.or.tz/claimsserver/api/v1/
